@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

.stars {
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  pointer-events: none;
  z-index: 0;
}


.galaxy-star {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #fff;
  opacity: 0.7;
  animation: twinkle 2s infinite ease-in-out;
}
